<a href="https://colab.research.google.com/github/CindyYWangH/pb_Python/blob/main/Introduction_to_Basic_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Your first program . . .

In [ ]:
# This program says hello and asks for your name 

print('What is your name?') # print() function displays the string value inside the parenthesis
myname = input()            # input () waits for the user to type some text on the keyboard and
print('Nice to meet you, ' + myname)
print('The length of your name is:')
print(len(myname)) #len() returns the number of letters in a string

What is your name?
Maryleen
Nice to meet you, Maryleen
The length of your name is:
8

In [ ]:
print("What's your age?")
myAge = input()
print('You will be ' + str(int(myAge)+ 1) + ' in a year.')

## Dissecting Your Program

##### Comments

The following line is called a comment.

In [ ]:
# This program says hello and asks for your name

Python ignores comments, and you can use them to write notes or remind yourself what the code is trying to do. Any text for the rest of the line following a hash mark (#) is part of a comment. Sometimes, programmers will put a # in front of a line of code to temporarily remove it while testing a program. This is called commenting out code, and it can be useful when you’re trying to figure out why a program doesn’t work. You can remove the # later when you are ready to put the line back in.

##### The print() function

The print() function displays the string value inside the parentheses on the screen.

In [ ]:
print('What is your name?')

The line print('What is your name?') means “Print out the text in the string 'What is your name?'” When Python executes this line, you say that Python is calling the print() function and the string value is being passed to the function. A value that is passed to a function call is an argument. Notice that the quotes are not printed to the screen. They just mark where the string
begins and ends; they are not part of the string value. 

* Note that you can also use this function to put a blank line on the screen; just call print() with nothing in between the parentheses.

In [ ]:
print()
2+3

##### The input() function
The input() function waits for the user to type some text on the keyboard and press **enter**.

In [ ]:
myname = input()

This function call evaluates to a string equal to the user’s text, and the previous line of code assigns the myName variable to this string value.

##### Printing the User's Name
The following call to print() actually contains the expression 'It is good to meet you, ' + myName between the parentheses.

In [ ]:
print('Nice to meet you, ' + myname)

Remember that expressions can always evaluate to a single value. If 'Chinwe' is the value stored in myname on the previous line, then this expression evaluates to 'It is good to meet you, Chinwe'. This single string value is then passed to print(), which prints it on the screen.

##### The len() function
You can pass the len() function, a string value (or a variable containing a string), and the function evaluates to the integer value of the number of characters in that string.

In [ ]:
print('The length of your name is:')
print(len(myname))

##### Let's do these . . .

In [ ]:
len('Hello!')

In [ ]:
len('This Python class keeps being interesting!')

In [ ]:
len('')

Just like those examples, len(myname) evaluates to an integer. It is then passed to print() to be displayed on the screen. Notice that print() allows you to pass it, either integer values or string values. But notice the error that shows up when you type the following into the cell below:

In [ ]:
print('I am ' + 29 + ' years old.')

The print() function isn’t causing that error, but rather it’s the expression you tried to pass to print(). You get the same error message if you type the expression into a cell on its own

In [ ]:
'I am ' + 29 + ' years old.'

Python gives an error because you can use the + operator only to add two integers together or concatenate two strings. You can’t add an integer to a string because this is ungrammatical in Python. You can fix this by using a string version of the integer instead, as explained in the next section.

### The str(), int(), and float() Functions

If you want to concatenate an integer such as 29 with a string to pass to print(), you’ll need to get the value '29', which is the string form of 29. The str() function can be passed an integer value and will evaluate to a string value version of it, as follows:

##### The str() function

In [ ]:
str(29)

'29'

In [ ]:
print('I am ' + str(29) + ' years old.')

I am 29 years old.

The str(), int(), and float() functions will evaluate to the string, integer, and floating-point forms of the value you pass, respectively.

In [ ]:
str(0)

'0'

In [ ]:
str(-3.14)

'-3.14'

##### The int() function

In [ ]:
int('42')

42

In [ ]:
int('-99')

-99

In [ ]:
int(1.25)

1

In [ ]:
int(1.99)

1

In [ ]:
int(7.7) + 1

8

The int() function is also helpful if you have a number as a string value that you want to use in some mathematics. For example, the input() function always returns a string, even if the user enters a number. Enter apple = input() into the cell and enter 101 when it waits for your text.

In [ ]:
apple = input()

101

In [ ]:
apple

'101'

The value stored inside apple isn’t the integer 101 but the string '101'. If you want to do math using the value in apple, use the int() function to get the integer form of apple and then store this as the new value in apple.

* The int() function is also useful if you need to round a floating-point number down.

In [ ]:
apple = int(apple) #overwrites the string
apple

101

In [ ]:
age = int(input())
age

30

30

##### The float() function

In [ ]:
float('3.14')

3.14

In [ ]:
float(10)

10.0

# Flow Control Statements
Flow control statements can decide which python instruction to execute under which conditions. But before we explore FCS, let's have an understanding of Boolean values, comparison operators and boolean operators.

### Boolean Values

While the integer, floating point and string data types have an unlimited numbers of possible values,the Boolean values has only two values: True and False.

In [ ]:
apple = True
apple

True

In [ ]:
boolean = False
boolean

False

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
true #if you don't use the proper case, Python will give you an error

NameError: ignored

In [ ]:
True = 2 + 2 #if you try to use True or False 
#as variable name, Python will give you an error
#message too.

SyntaxError: ignored

#### Comparison Operators
These compare two values and evaluate down to a single Boolean value. They include:
* Equal to == 
* Not equal to != 
* Less than < 
* Greater than >
* Less than or equal to <= 
* Greater than or equal to >=

In [ ]:
# Let's try some operators now, starting from "==" and "!="
x = 42

x == 42

False

In [ ]:
42 == 99

False

In [ ]:
2 != 3

True

In [ ]:
2 != 2

False

In [ ]:
42 == "42"
# this returned False because python considers 
#the integer 42 to be different fron string 42

False

In [ ]:
# The <,>, <=, >= operators, on the other hand work
# properly with only integers and floating-point values

42 < 100

True

In [ ]:
42 > 100

False

In [ ]:
42 > 42

False

In [ ]:
egg_count = 42
egg_count <= 42

True

In [ ]:
my_age = 23
my_age >= 10

True

#### Difference between the = operator and == operator
You might have noticed that the == operator has two equal signs. It's easy to confuse these two operators with each other. Just remember this point: == compares while = assigns.

#### Boolean Operators

##### The and operator
The and operator evaluates an expression to True if both booleans are True. Otherwise, it return false.

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False and True

False

In [ ]:
False and False

False

##### The or operator
On the other hand, the "or" operator evaluates an expression  to True if either of the boolean value is True.

In [ ]:
True or False or False

True

In [ ]:
True or False

True

In [ ]:
False or True

True

In [ ]:
False or False

False

##### The not operator
Unlike "and" and "or", the "not" operator operates only on one boolean value or (expression). The not operator simply evaluates to the opposite boolean value.

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
not not True

True

In [ ]:
not not not not False

False

#### Mixing Boolean Operators and Comparison Operators

In [ ]:
(4 < 5) or (7 < 6)

True

In [ ]:
(4 < 5) or (5 < 6)

True

In [ ]:
(1 == 2) or (2==2)

True

In [ ]:
(4 < 5) and (5 < 6) or not (1 == 2) or (2!=2) or (4 <= 5) and (9 >= 6)

True

#### Elements of Flow Control Statements

Flow control statements often start with a part called the condition, and all are followed by a block of code called the clause. Before you learn Python's specific flow control statements, I will want to state what a condition and a block is.

#### Conditions

The boolean expressions you've seen so far could all be considered conditions which are the same thing as expressions; condition is just a more specific name in the context of flow control statements. Conditions always evaluate down to a boolean  value, True or False. A flow statement decides what to do based on whether its condition is True or False, and  almost every flow control statements uses a condition.

#### Blocks of code

Lines of Python code can be grouped together in blocks. You can tell when a block begins and ends from the indentation of the lines of code. There are three rules for blocks. 

1. Blocks begin when the indentation increases. 
2. Block can contain other blocks. 
3. Blocks end when the indentation increases to  zero or to a containing block indentation.

Take a look at the following:

In [ ]:
if name == 'Mary':
  print ('Mary')

NameError: ignored

In [ ]:
if name == 'Mary':
    print ("Hello Mary")
if password == 'swordfish':
    print ('Access granted')
else:
    print ('Wrong password')

The first block of code starts at the line print ("Hello Mary") and contains all the lines after it. Inside this block is another block, which has only a single line in it- print ("Access granted"). The third block is also one line long: print ("wrong password").

## Flow Control Statements
Now, let’s explore the most important piece of flow control: the statements
themselves.

#### If Statements

The most common type of flow control statement is the if statement.
An if statement's clause (the block of code following the if statement) will execute if the statement's condition is true. The clause is skipped (or terminated) if the condition is false.

In Python, an if statement consist of the following: 
1. The if keyword 
2. A condition (an expression that evaluates to True or False) 
3. Colon 
4. Starting on the next line, an indented block of codes (called the if clause)

In [ ]:
name = 'Victor'
if name == 'Victor':
    print ('Hi Victor')

Hi Victor

In [ ]:
name = input()
if name == 'Mary':
    print ("Hello Mary")

Mars

In [ ]:
password = input()
if password == 'swordfish':
    print ('Access granted!')

sword

In [ ]:
intern_name = 'Clara'
if intern_name == 'Clara':
    print (intern_name + ' is a Research Assistant at DataLab')

Clara is a Research Assistant at DataLab

#### Else Statements

An if clause can optionally be followed by an else statement. The else clause
is executed only when the if statement’s condition is False. In plain English,
an else statement could be read as, “If this condition is true, execute this
code. Or else, execute that code.” An else statement doesn’t have a condition,
and in code, an else statement always consists of the following:

* The else keyword
* A colon
* Starting on the next line, an indented block of code (called the else clause)

Returning to the Victor example, let’s look at some code that uses an
else statement to offer a different greeting if the person’s name isn’t Victor.

In [ ]:
name = 'Victor'
if name == 'Victor':
    print('Hi Victor')
else:
    print('Hello Stranger.')
    print('Please provide your identity.')

Hi Victor

In [ ]:
password = input()
if password == 'swordfish':
    print ('Access granted!')
else:
    print('Wrong password')
    print('You have two more trials')

sword
Wrong password
You have two more trials

In [ ]:
name = input ()

Datalab_staff = ['Gideon', 'Feyi', 'Esther', 'Solomon', 'Clara']
print ('Checking your name in DataLab NG database...')
if name in Datalab_staff:
    print ('Welcome ' +  name +'. What would you like to do?')
else:
    print ('You are not part of the team')

Mary
Checking your name in DataLab NG database...
You are not part of the team

#### Elif Statements

While only one of the if or else clauses will execute, you may have a case
where you want one of many possible clauses to execute. The elif statement is an “else if” statement that always follows an if or another elif statement.
It provides another condition that is checked only if any of the previous conditions were False. In code, an elif statement always consists of the following:

* The elif keyword
* A condition (that is, an expression that evaluates to True or False)
* A colon
* Starting on the next line, an indented block of code (called the elif clause)

Let’s add an elif to the name checker to see this statement in action.

In [ ]:
# This time, you check the person’s age, and the 
# program will tell them
# something different if they’re younger than 12.
name = 'Victor'
age = 30
if name == 'Victor':
    print('Hi, Victor.')
elif age < 12:
    print('You are not Victor, kiddo.')

Hi, Victor.

The elif clause executes if age < 12 is True and name == 'Victor' is False. However, if both of the conditions are False, then both of the clauses are skipped. It is not guaranteed that at least one of the clauses will be executed.
When there is a chain of elif statements, only one or none of the clauses will be executed. Once one of the statements’ conditions is found to be True, the rest of the elif clauses are automatically skipped.

In [ ]:
#Here I’ve added two more elif statements to make the 
#name checker
#greet a person with different answers based on age.

name = input()
age = int(input())
if name == 'Victor':
    print('Hi, Victor.')
elif age < 12:
    print('You are not Victor, kiddo.')
elif age > 2000:
    print('Unlike you, Victor is not an undead, ancient of days.')
elif age > 100:
    print('You are not Victor, grannie.')

Victor
23
Hi, Victor.

Optionally, you can have an else statement after the last elif statement.
In that case, it is guaranteed that at least one (and only one) of the clauses
will be executed. If the conditions in every if and elif statement are False,
then the else clause is executed. For example, let’s re-create the Victor program to use if, elif, and else clauses.

In [ ]:
name = input()
age = int(input())
if name == 'Victor':
    print('Hi, Victor.')
elif age < 12:
    print('You are not Victor, kiddo.')
else:
    print('You are neither Victor nor a little kid.')

Esther
11
You are not Victor, kiddo.

#### while Loop Statements

You can make a block of code execute over and over again with a while statement. The code in a while clause will be executed as long as the while statement’s condition is True. In code, a while statement always consists of the following:
* The while keyword
* A condition (that is, an expression that evaluates to True or False)
* A colon
* Starting on the next line, an indented block of code (called the while clause)

You may see that a while statement looks similar to an if statement. The
difference is in how they behave. At the end of an if clause, the program
execution continues after the if statement. But at the end of a while clause, the program execution jumps back to the start of the while statement

In [ ]:
apple = 0
if apple < 5:
    print('Hello, world.')
    apple = apple + 1

Hello, world.

In [ ]:
apple = 0
while apple < 5:
    print('Hello, world.')
    apple += 1
    print ('Apple is', apple)

Hello, world.
Apple is 1
Hello, world.
Apple is 2
Hello, world.
Apple is 3
Hello, world.
Apple is 4
Hello, world.
Apple is 5

#### An Annoying while Loop

Here’s a small example program that will keep asking you to type, literally, `your name`.

In [ ]:
name = ''
while name != 'your name':
    print('Please type your name.')
    name = input()
    print('Thank you!')

Please type your name.
Mary
Thank you!
Please type your name.
Gideon
Thank you!
Please type your name.
Angela
Thank you!
Please type your name.
your name
Thank you!

#### break Statements
There is a shortcut to getting the program execution to break out of a while
loop’s clause early. If the execution reaches a `break` statement, it immediately exits the `while` loop’s clause. In code, a `break` statement simply contains the break keyword.

In [ ]:
while True:
    print('Please type your name.')
    name = input()
    if name == 'your name':
        print('Thank you!')
        break

Please type your name.
your name
Thank you!

#### continue Statements
Like `break` statements, `continue` statements are used inside loops. When the
program execution reaches a `continue` statement, the program execution
immediately jumps back to the start of the loop and reevaluates the loop’s
condition. (This is also what happens when the execution reaches the end
of the loop.)

In [ ]:
# Let’s use continue to write a program that asks
# for a name and password.

while True:
    print('Who are you?')
    name = input()
    if name != 'Alex':
        continue
    print('Hello, Alex. What is the password? (It is a nickname.)')
    password = input()
    if password == 'UncleHoro':
        break
print('Access granted.')

Who are you?
Mary
Who are you?
Gideon
Who are you?
Alex
Hello, Alex. What is the password? (It is a nickname.)
Ucle
Who are you?
Alex
Hello, Alex. What is the password? (It is a nickname.)
UncleHoro
Access granted.

If the user enters any name besides Alex, the `continue` statement causes the program execution to jump back to the start of the loop. When it reevaluates the condition, the execution will always enter the loop, since the condition is simply the value `True`. Once they make it past that if statement, the user is asked for a password. If the password entered is `UncleHoro`, then the `break statement` is run, and the execution jumps out of the while loop to print `Access granted`. Otherwise, the execution continues to the end of the while loop, where it then jumps back to the start of the loop.

#### for Loops and the range() Function
The `while` loop keeps looping while its condition is `True` (which is the reason for its name), but what if you want to execute a block of code only a certain number of times? You can do this with a `for` loop statement and the `range()` function.

In [ ]:
print('My name is')
for i in range(5):
    print('Jimmy Five Times (' + str(i) + ')')

My name is
Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

In [ ]:
# An equivalent while Loop
# You can actually use a while loop to do the same thing as a for 
# loop; for loops are just more concise.
print('My name is')
i = 0
while i < 5:
    print('Jimmy Five Times (' + str(i) + ')')
    i = i + 1

My name is
Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

In [ ]:
# add up all the numbers from 0 to 100.
total = 0
for i in range(101):
    total = total + i
print(total)

5050

#### The Starting, Stopping, and Stepping Arguments to range()
range() Function: (Start,end,step)

In [ ]:
for i in range(12, 16):
    print(i)

12
13
14
15

In [ ]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [ ]:
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0

### Exercise

1. Print First 10 natural numbers using while loop. Then try using the range function and the for loop to get the same answer.

2. Accept number from user and calculate the sum of all numbers between 1 and given number.

In [ ]:
#Print First 10 natural numbers using while loop. 
#Then try using the range function and the for loop to get the same answer.

i = 0
while i < 10:
  i += 1
  print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (1, 11):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#user_input = 4
#1, 2, 3, 4 = 10
#Accept number from user and calculate the sum of all numbers between 1 and given number.

user_input = int(input('Enter a number'))
sumN = 0
#range(start, end, step)
for i in range (1, user_input+1): 
  sumN +=i
  print ('Sum is ', sumN)

Enter a number10
Sum is  1
Sum is  3
Sum is  6
Sum is  10
Sum is  15
Sum is  21
Sum is  28
Sum is  36
Sum is  45
Sum is  55

### Importing Modules

In [ ]:
import random
for i in range(5):
    print(random.randint(1, 10))

5
10
7
6
1

# Functions
You’re already familiar with the `print()`, `input()`, and `len()` functions from the previous chapters. Python provides several builtin functions like these, but you can also write your own functions. A function is like a mini-program within a program.

In [ ]:
def hello():
    print('Howdy!')
    print('Howdy!!!')
    print('Hello there.')

In [ ]:
hello()

Howdy!
Howdy!!!
Hello there.

The first line is a `def` statement, which defines a function named `hello()`. The code in the block that follows the `def` statement is the body of the function. This code is executed when the function is called, not when the function is first defined.

#### `def` Statements with Parameters
When you call the `print()` or`len()` function, you pass in values, called arguments in this context, by typing them between the parentheses. You can also
define your own functions that accept arguments.

In [ ]:
def hello(name):
    print('Hello ' + name)

In [ ]:
hello('Mary')

Hello Mary

In [ ]:
def hi(name):
    print('Hello ' + name + ',')
    print('What would you want that we do for you?')

In [ ]:
hi('Dooshima')

Hello Dooshima,
What would you want that we do for you?

#### The Guess Game

In [ ]:
#This is a guess the number game.
import random
secretNumber = random.randint(1, 20)
print('I am thinking of a number between 1 and 20.')

# Ask the player to guess 2 times.
for guessesTaken in range(1, 3):
    print('Take a guess.')
    guess = int(input())
    
    if guess < secretNumber:
        print('Your guess is too low.')
    elif guess > secretNumber:
        print('Your guess is too high.')
    else:
        break # This condition is the correct guess!
    
if guess == secretNumber:
    print('Good job! You guessed my number in ' + str(guessesTaken) + ' guesses!')
else:
    print('Nope. The number I was thinking of was ' + str(secretNumber))

I am thinking of a number between 1 and 20.
Take a guess.
10
Your guess is too high.
Take a guess.
5
Your guess is too high.
Nope. The number I was thinking of was 4

# Lists and Tuples

One more topic you’ll need to understand before you can begin writing programs in earnest is the list data type and its cousin, the tuple. Lists and tuples can contain multiple values, which makes it easier to write programs that handle large amounts of data. And since lists themselves can contain other lists, you can use them to arrange data into hierarchical structures.

#### The List Data Type

A list is a value that contains multiple values in an ordered sequence.

In [ ]:
list_1 = [1, 2, 3]
list_2 = ['cat', 'bat', 'rat', 'elephant']
list_3 = ['hello', 3.1415, True, None, 42]
list_4 = [ ]

In [ ]:
list_1

[1, 2, 3]

In [ ]:
print (list_3)

['hello', 3.1415, True, None, 42]

#### Getting Individual Values in a List with Indexes

In [ ]:
list_2

['cat', 'bat', 'rat', 'elephant']

In [ ]:
list_2[0]

'cat'

In [ ]:
list_2[1]

'bat'

In [ ]:
list_2[1.0] #index can only be integers

TypeError: ignored

In [ ]:
list_2[(int(1.0))]

'bat'

In [ ]:
list_2[3]

'elephant'

In [ ]:
type (list_2[3])

str

In [ ]:
'Hello ' + list_2[2]

'Hello rat'

In [ ]:
'The ' + list_2[1] + ' ate the ' + list_2[0] + '.'

'The bat ate the cat.'

Lists can also contain other list values. The values in these lists of lists
can be accessed using multiple indexes, like so:

In [ ]:
apple = [['cat', 'bat'], [10, 20, 30, 40, 50]]

In [ ]:
apple[1]

[10, 20, 30, 40, 50]

In [ ]:
len (apple[1])

5

The first index dictates which list value to use, and the second indicates the value within the list value.

In [ ]:
apple[0][1]

'bat'

In [ ]:
apple[1][4]

50

In [ ]:
#print 30
apple [1][2]

30

#### Negative Indices

While indexes start at 0 and go up, you can also use negative integers for the index. The integer value -1 refers to the last index in a list, the value -2 refers to the second-to-last index in a list, and so on.

In [ ]:
apple = ['cat', 'bat', 'rat', 'elephant']

In [ ]:
apple[-1]

'rat'

In [ ]:
apple[3]

'elephant'

In [ ]:
apple[-2]

'rat'

In [ ]:
apple[-3]

'bat'

In [ ]:
'The ' + apple[-1] + ' is afraid of the ' + apple[2]

#### Getting Sublists with Slices

Just as an index can get a single value from a list, a slice can get several values from a list, in the form of a new list. A slice is typed between square brackets, like an index, but it has two integers separated by a colon. Notice the difference between indexes and slices.

* apple[2] is a list with an index (one integer).
* apple[1:4] is a list with a slice (two integers).

In a slice, the first integer is the index where the slice starts. The second integer is the index where the slice ends. A slice goes up to, but will not include, the value at the second index. A slice evaluates to a new list value. See below:

In [ ]:
apple

['cat', 'bat', 'rat', 'elephant']

In [ ]:
apple[0:4]

['cat', 'bat', 'rat', 'elephant']

In [ ]:
apple[0:3]

['cat', 'bat', 'rat']

In [ ]:
apple[1:3]

['bat', 'rat']

In [ ]:
apple[0:-2]

['cat', 'bat']

In [ ]:
apple[-1]

'elephant'

As a shortcut, you can leave out one or both of the indexes on either side of the colon in the slice. Leaving out the first index is the same as using 0, or the beginning of the list. Leaving out the second index is the same as using the length of the list, which will slice to the end of the list.

In [ ]:
apple[:2]

['cat', 'bat']

In [ ]:
apple[1:]

['bat', 'rat', 'elephant']

In [ ]:
apple[:]

['cat', 'bat', 'rat', 'elephant']

#### Getting a List’s Length with len()

In [ ]:
apple

['cat', 'bat', 'rat', 'elephant']

In [ ]:
len(apple)

4

#### Changing Values in a List with Indexes

In [ ]:
apple = ['cat', 'bat', 'rat', 'elephant']
apple

['cat', 'bat', 'rat', 'elephant']

In [ ]:
apple[1]

'bat'

In [ ]:
apple[1] = 'dog'

In [ ]:
apple

['cat', 'dog', 'rat', 'elephant']

In [ ]:
apple[-1]

'cat'

In [ ]:
apple[-1] = 'lion'

In [ ]:
apple

['cat', 'bat', 'rat', 'lion']

#### Lists Concatenation and Replication

The + operator can combine two lists to create a new list value in the same way it combines two strings into a new string value. The * operator can also be used with a list and an integer value to replicate the list.

In [ ]:
apple_1 = [1,2,3,4]
apple_1

[1, 2, 3, 4]

In [ ]:
apple_2 = ['PreciousSam', 'UncleHoro', 'Thecla']
apple_2

['PreciousSam', 'UncleHoro', 'Thecla']

In [ ]:
apple_1 + apple_2

[1, 2, 3, 4, 'PreciousSam', 'UncleHoro', 'Thecla']

In [ ]:
apple_2 * 3

['PreciousSam',
 'UncleHoro',
 'Thecla',
 'PreciousSam',
 'UncleHoro',
 'Thecla',
 'PreciousSam',
 'UncleHoro',
 'Thecla']

In [ ]:
apple_2[0] * 2

'PreciousSamPreciousSam'

In [ ]:
['x', 'Y', 'Z'] * 3

['x', 'Y', 'Z', 'x', 'Y', 'Z', 'x', 'Y', 'Z']

In [ ]:
[1,2,3] + ['X', 'Y', 'Z']

[1, 2, 3, 'X', 'Y', 'Z']

#### The in and not in Operators

In [ ]:
'howdy' in ['hello', 'hi', 'howdy', 'heyas'] #does the element (subset) exist in the list (set)

True

In [ ]:
apple = ['hello', 'hi', 'howdy', 'heyas']

In [ ]:
'cat' in apple

False

In [ ]:
'howdy' not in apple

False

#### The Multiple Assignment Trick

The multiple assignment trick is a shortcut that lets you assign multiple variables with the values in a list in one line of code. So instead of doing this:

In [ ]:
apple = ['fat', 'black', 'loud']
apple

['fat', 'black', 'loud']

In [ ]:
size = apple[0]
color = apple[1]
disposition = apple[2]

In [ ]:
size

'fat'

In [ ]:
disposition

'loud'

In [ ]:
color

'black'

In [ ]:
apple = ['slim', 'red', 'low']
size, color, disposition = apple

In [ ]:
size

'slim'

The number of variables and the length of the list must be exactly equal, or Python will give you a ValueError:

In [ ]:
apple = ['slim', 'red', 'low', 'Mary']
size, color, disposition = apple

ValueError: ignored

In [ ]:
apple = [['cat', 'bat'], [10, 20, 30, 40, 50]]
#Replace 30 with 60
apple[1][2] = 60
apple

[['cat', 'bat'], [10, 20, 60, 40, 50]]

#### Augmented Assignment Operators

When assigning a value to a variable, you will frequently use the variabl itself. For example, after assigning `42` to the variable apple, you would increase the value in `apple` by 1 with the following code:

In [ ]:
apple = 42
apple = apple + 1
apple

43

As a shortcut, you can use the augmented assignment operator += to do the same thing:

In [ ]:
apple = 42
apple += 1
apple

43

#### Removing Values from Lists with del Statements

In [ ]:
apple = ['fat', 'black', 'loud']
apple

['fat', 'black', 'loud']

In [ ]:
del apple[2]

In [ ]:
apple

['fat', 'black']

In [ ]:
apple_1

[1, 2, 3, 4]

In [ ]:
# You can also delete a variable
# It returns error when you try to call the variable later
del apple_1

In [ ]:
apple_1

NameError: ignored

### Methods
A method is the same thing as a function, except it is “called on” a value. For example, if a list value were stored in apple, you would call the index() list method (which I’ll explain next) on that list like so: apple.index('hello').
The method part comes after the value, separated by a period. Each data type has its own set of methods. The list data type, for example, has several useful methods for finding, adding, removing, and otherwise manipulating values in a list.

#### Finding a Value in a List with the index() Method
List values have an `index()` method that can be passed a value, and if that value exists in the list, the index of the value is returned. If the value isn’t in the list, then Python produces a `ValueError error`.

In [ ]:
my_guys = ['PreciousSam', 'UncleHoro', 'Pat', 'Stephen', 'Dooshima']
my_guys

['PreciousSam', 'UncleHoro', 'Pat', 'Stephen', 'Dooshima']

In [ ]:
my_guys.index('Stephen')

3

In [ ]:
my_guys.index('Victor')

ValueError: 'Victor' is not in list

When there are duplicates of the value in the list, the index of its first appearance is returned.

In [ ]:
my_guys = ['PreciousSam', 'UncleHoro', 'Pat', 'Stephen', 'Dooshima', 'Stephen']
my_guys

['PreciousSam', 'UncleHoro', 'Pat', 'Stephen', 'Dooshima', 'Stephen']

In [ ]:
my_guys.index('Stephen')

3

In [ ]:
my_guys.append('Mary')
my_guys

['PreciousSam', 'UncleHoro', 'Pat', 'Stephen', 'Dooshima', 'Stephen', 'Mary']

#### Adding Values to Lists with the append() and insert() Methods
To add new values to a list, use the `append()` and `insert()` methods. Enter the following into the interactive shell to call the `append()` method on a list value stored in the variable my_guys:

In [ ]:
my_guys

['PreciousSam', 'UncleHoro', 'Pat', 'Stephen', 'Dooshima']

In [ ]:
my_guys.extend('John')

In [ ]:
my_guys

['PreciousSam', 'UncleHoro', 'Pat', 'Stephen', 'Dooshima', 'J', 'o', 'h', 'n']

The previous `append()` method call adds the argument to the end of the list. The `insert()` method can insert a value at any index in the list. The first argument to `insert()` is the index for the new value, and the second argument is the new value to be inserted.

In [ ]:
my_guys

['PreciousSam', 'UncleHoro', 'Pat', 'Stephen', 'Dooshima', 'Stephen', 'Mary']

In [ ]:
my_guys.insert(2, 'Thecla')

In [ ]:
my_guys

['PreciousSam',
 'UncleHoro',
 'Thecla',
 'Pat',
 'Stephen',
 'Dooshima',
 'Stephen',
 'Mary']

Methods belong to a single data type. The `append()` and `insert()` methods are list methods and can be called only on list values, not on other values such as strings or integers.

In [ ]:
eggs = 'hello'
type(eggs)

str

In [ ]:
eggs.append('world')

AttributeError: ignored

In [ ]:
bacon = 42
bacon.insert(1, 'world')

AttributeError: ignored

#### Removing Values from Lists with remove()
The `remove()` method is passed the value to be removed from the list it is called on.

In [ ]:
apple = ['cat', 'bat', 'rat', 'elephant']

In [ ]:
apple.remove('bat')
apple

['cat', 'rat', 'elephant']

The `del statement` is good to use when you know the index of the value you want to remove from the list. The `remove()` method is good when you know the value you want to remove from the list.

In [ ]:
apple = [2, 5, 3.14, 1, -7]
apple.sort()
apple

[-7, 1, 2, 3.14, 5]

In [ ]:
apple.sort(reverse = True)
apple

[5, 3.14, 2, 1, -7]

In [ ]:
apple = ['ants', 'cats', 'dogs', 'badgers', 'elephants']
apple.sort()
apple

['ants', 'badgers', 'cats', 'dogs', 'elephants']

You can also pass`True` for the reverse keyword argument to have `sort()` sort the values in reverse order.

In [ ]:
apple.sort(reverse=True)
apple

['elephants', 'dogs', 'cats', 'badgers', 'ants']

There are three things you should note about the `sort` method. **First**,  the`sort()` method sorts the list in place; don’t try to capture the return value by writing code like `apple = apple.sort()`.

**Second**, you cannot sort lists that have both number values and string values in them, since Python doesn’t know how to compare these values. Type the following and notice the TypeError error:

In [ ]:
apple = [1, 3, 2, 4, 'Thecla', 'Victor']
apple.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

**Third**, `sort()` uses **“ASCIIbetical order”** rather than actual alphabetical order for sorting strings. This means uppercase letters come before lowercase letters. Therefore, the lowercase *a* is sorted so that it comes after the uppercase *Z*. For an example

In [ ]:
apple = ['Alice', 'ants', 'Bob', 'badgers', 'Carol', 'cats']
apple.sort()
print (apple)

['Alice', 'Bob', 'Carol', 'ants', 'badgers', 'cats']

In [ ]:
apple

['Alice', 'Bob', 'Carol', 'ants', 'badgers', 'cats']

If you need to sort the values in regular alphabetical order, pass `str.lower` for the key keyword argument in the `sort()` method call.

In [ ]:
apple.sort(key = str.lower)

In [ ]:
apple

['Alice', 'ants', 'badgers', 'Bob', 'Carol', 'cats']

## The Tuple Data Type
The tuple data type is almost identical to the list data type, except in two ways. First, tuples are typed with parentheses, ( and ), instead of square brackets, [ and ]. For example:

In [ ]:
apple = ('Hello', 1, 3.5)
type (apple)

tuple

In [ ]:
apple[0]

'Hello'

In [ ]:
apple[:2]

('Hello', 1)

In [ ]:
len(apple)

3

But the main way that tuples are different from lists is that tuples, like strings, are immutable. Tuples cannot have their values modified, appended, or removed.

In [ ]:
apple[0] = 'Hi'

TypeError: ignored

In [ ]:
apple.append('Hi')

AttributeError: ignored

## The Dictionary Data Type
Like a list, a dictionary is a collection of many values. But unlike indexes for lists, indexes for dictionaries can use many different data types, not just integers. Indexes for dictionaries are called keys, and a key with its associated
value is called a key-value pair. In code, a dictionary is typed with braces, {}.

In [ ]:
#dict = {key1: value1, key2: value2, key3=value3}
dict_1 = {'name': 'Mary', 'year': 1990, 'color': 'red'}  
dict_1['name']

'Mary'

In [ ]:
dict_2 = {'size': 'fat', 'color': 'gray', 'disposition': 'loud'}

In [ ]:
dict_2

{'size': 'fat', 'color': 'gray', 'disposition': 'loud'}

This assigns a dictionary to the dict_2 variable. These dictionary’s keys are 'size', 'color', and 'disposition'. The values for these keys are 'fat', 'gray', and 'loud', respectively. You can access these values through their keys:

In [ ]:
dict_2['size']

'fat'

In [ ]:
dict_2['color']

'gray'

In [ ]:
'The cat has ' + dict_2['color'] + ' fur.'

'The cat has gray fur.'

Dictionaries can still use integer values as keys, just like lists use integers for indexes, but they do not have to start at 0 and can be any number.

In [ ]:
apple = {123: 'number', 456: 'answer'}

In [ ]:
apple[123]

'number'

#### Dictionaries vs. Lists
Unlike lists, items in dictionaries are unordered. The first item in a list named `apple` would be `apple[0]`. But there is no “first” item in a dictionary. While the order of items matters for determining whether two lists are the same, it does not matter in what order the key-value pairs are typed in a dictionary.

In [ ]:
apple = ['cats', 'dogs', 'moose']
bacon = ['dogs', 'moose', 'cats']
apple == bacon

False

In [ ]:
apple.sort()
bacon.sort()
print (apple)
print (bacon)
apple == bacon

['cats', 'dogs', 'moose']
['cats', 'dogs', 'moose']

True

In [ ]:
apple[0]

'cats'

In [ ]:
eggs = {'name': 'Zophie', 'species': 'cat', 'age': 8}
ham = {'species': 'cat', 'age': 8, 'name': 'Zophie'}
eggs == ham

True

Because dictionaries are not ordered, they can’t be sliced like lists. Trying to access a key that does not exist in a dictionary will result in a `KeyError` error message, much like a list’s “out-of-range” `IndexError error` message.

In [ ]:
apple = {'name': 'Zophie', 'age': 7}
apple['name']

'Zophie'

Though dictionaries are not ordered, the fact that you can have arbitrary values for the keys allows you to organize your data in powerful ways. Say you wanted your program to store data about your friends’ birthdays. You can use a dictionary with the names as keys and the birthdays as values.

In [ ]:
birthdays = {'Sam': 'Nov 5', 'Pat': 'Jan 13', 'Thecla': 'Mar 19'}
while True:
    print('Enter a name: (blank to quit)')
    name = input()
    if name == '':
        break
    if name in birthdays:
        print(birthdays[name] + ' is the birthday of ' + name)
    else:
        print('I do not have birthday information for ' + name)
        print('What is their birthday?')
        bday = input()
        birthdays[name] = bday
        print('Birthday database updated.')

Enter a name: (blank to quit)
Maria
I do not have birthday information for Maria
What is their birthday?
Jan 15
Birthday database updated.
Enter a name: (blank to quit)

In [ ]:
birthdays

{'Maria': 'Jan 15', 'Pat': 'Jan 13', 'Sam': 'Nov 5', 'Thecla': 'Mar 19'}

#### The keys(), values(), and items() Methods
There are three dictionary methods that will return list-like values of the dictionary’s keys, values, or both keys and values: keys(), values(), and items(). The values returned by these methods are not true lists: They cannot be modified and do not have an append() method. But these data types (dict_keys,dict_values, and dict_items, respectively) can be used in for loops.

In [ ]:
apple = {'color': 'red', 'age': 42}
apple.items()

dict_items([('color', 'red'), ('age', 42)])

In [ ]:
values = []
for v in apple.values():
  values.append(v)
print (values)

['red', 42]

In [ ]:
for k in apple.keys():
    print(k)

color
age

In [ ]:
for i in apple.items():
    print(i)

('color', 'red')
('age', 42)

#### The get() Method
It’s tedious to check whether a key exists in a dictionary before accessing that key’s value. Fortunately, dictionaries have a get() method that takes two arguments: the key of the value to retrieve and a fallback value to return if that key does not exist.

In [ ]:
picnicItems = {'apples': 5, 'cups': 2}
picnicItems.get('cup', 0)

0

In [ ]:
'I am bringing ' + str(picnicItems.get('cups', 0)) + ' cups.'

'I am bringing 2 cups.'

In [ ]:
'I am bringing ' + str(picnicItems.get('eggs', 0)) + ' eggs.'

'I am bringing 0 eggs.'

#### The End!