<a href="https://colab.research.google.com/github/CindyYWangH/pb_Python/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to Python

Python is an open-source (free) programming language that is used in web programming, data science, artificial intelligence, and many scientific applications. It was created by Guido van Rossum, and released in 1991.

It's in the top 10 for "Most Popular" and "Most Loved" technologies (according to StackOverflow's 2016 Developer Survey), making it a relatively friendly language for beginners.

Learning Python allows the programmer to focus on solving problems, rather than focusing on syntax. Its relative size and simplified syntax gives it an edge over languages like Java and C++, yet the abundance of libraries gives it the power needed to accomplish great things.

## Why Python?

* Clean syntax
* The same code can run on all Operating Systems
* Extensive first and third party libraries

## Applications where python can be used

Python is used in many application domains.

* Web and Internet Development:
 Python offers many choices for web development.
 
* Scientific and Numeric:
Python is widely used in scientific and numeric computing.

* Education:
Python is a superb language for teaching programming, both at the introductory level and in more advanced courses.

* Desktop GUIs:
The Tk GUI library is included with most binary distributions of Python.

* Business Applications:
Python is also used to build ERP and e-commerce systems.

## Python Installation and command line usage

* Python Syntax
* Python comments
* Python Variables
* Python Data Types
* Python Numbers
* Python Casting
* Python Strings
* Python Boolean
* Python Operators
* Python User Input
* Python conditional (if/else)
* Python for loop
* Python while loop
* Python Iterator
* Python Functions
* Recursive Functions
* Python Lambda function
* Recap of what we’ve done last week
* Python Modules
* Exception Handling
* Python Scope
* File handling
* Reading Files
* Writing files
* Deleting Files
* Python Dates

# Python Syntax

### What is Python Syntax?

Python syntax of the is the set of rules which defines how a Python program can be written.

**Example** –  We have to learn grammar to learn the English language. In the same way, you will need to learn and understand the Python syntax in order to learn the Python language.

### Example of Python Syntax

Python is a popular programming language because of its elegant syntax structure.

Let’s take a quick look at a simple Python program to give you an idea of how programming in Python looks like.

In [ ]:
#Simple Python Program to see if a user is eligible to vote or not.

# getting user’s name 
print("kindly enter your name:")
name = input()  #input is in-built python function

# getting user’s age
print("Kindly enter your age:")
age = int(input())  #converting from string to integer

# condition to check if user is eligible or not
if( age >= 18 ):
    print( name,' is eligible to vote.')
else:
    print( name,' is not eligible to vote.')

kindly enter your name:
Mary
Kindly enter your age:
20
Mary  is eligible to vote.

 #### Examples of Python Syntax
 
1. Python Line Structure
2. Python Multiline Statements
3. Python Comments
4. Python Docstrings
5. Python Indentation
6. Python Quotations
7. Python Blank Lines
8. Python Identifiers
9. Python Variables

### 1. Python Line Structure

Python coding style comprises physical lines as well as logical lines or statements.

A physical line in a Python program is a sequence of characters, and the end of the line terminates the line sequence as opposed to some other languages, such as C and C++ where a semi-colon is used to mark the end of the statement. 

A logical line, on the other hand, is composed of one or more physical lines. The use of a semi-colon is not prohibited in Python, although it’s not mandatory. 

The NEWLINE token denotes the end of the logical line.

**NOTE:**  A logical line that only contains spaces, comments, or tabs are called blank lines and they are ignored by the interpreter.

### 2. Python Multiline Statements

Usually, every Python statement ends with a newline character. However, we can extend it over to multiple lines using **the line continuation character ( \ )**.

And Python gives us two ways to enable multi-line statements in a program.

#### Explicit line continuation

When you right away use the line continuation character ( \ ) to split a statement into multiple lines.

In [ ]:
#One line statement
my_list = [10,11, 12,13,14,15]
print (my_list)

[10, 11, 12, 13, 14, 15]

In [ ]:
# Initializing a list using the multi-line statement

my_list = [10,11 \
           ,12,13 \
           ,14,15 \
           ]
print(my_list)

[10, 11, 12, 13, 14, 15]

In [ ]:
# Evalulate an expression using a multi-line statement

eval ( \
 " 3.5 \
 + \
5.5")

9.0

#### Implicit line continuation

Implicit line continuation is when you split a statement using either of parentheses ( ), brackets [ ] and braces { }. 
You need to enclose the target statement using the mentioned construct.

In [ ]:
#Does python use BODMAS?
#result = 10 + 1 * 5 - 5 / 1 + 1  #Bracket Of Division Multiplication Addition Subtraction 
result = 10 + 1 * 5 - 5 / 1 + 1   
print(result)

11.0

In [ ]:
##**Example**

result = (10 + 1 
          * 5 - 5 
          / 1 + 1)
print(result)

print(result)

11.0

In [ ]:
subjects = ['Mathematics', 'English Langauage', 'Agricultural Science']
print(subjects)

['Mathematics', 'English Langauage', 'Agricultural Science']

In [ ]:
##**Example**

subjects = [
            'Mathematics',
            'English Langauage',
            'Agricultural Science'
            ]

print(subjects)

['Mathematics', 'English Langauage', 'Agricultural Science']

### 3. Python Comments

When writing code in Python, it’s important to make sure that your code can be easily understood by others, hence the use of comments in python. 

Comments in Python are the lines in the code that are ignored by the compiler during the execution of the program. They enhance the readability of the code and help the programmers and others to understand the code very carefully.



#### Comments are generally used for the following purposes: 

* Code Readability
* Explanation of the code or Metadata of the project
* Prevent execution of code
* To include resources

**Comments in Python begin with a hash mark (#) and whitespace character and continue to the end of the line.**

#### Example

In [ ]:
#This is a comment
#print("Hello, World!")
print("Hello World!")

Hello World!

#### Comments can be placed at the end of a line, and Python will ignore the rest of the line:

#### Example

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

#### A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

#### Example

In [ ]:
print("Hello, World!")
#print("Cheers, Mate!")

Hello, World!

#### Types of Comments in Python

There are two main kinds of comments in Python. They are: 

**1. Single line comment:** 
In Python, we use the hash symbol **#** to write a single-line comment.

All the examples sited above are examples of single line comments.

**2. Multiple line comment:**

Python doesn't offer a separate way to write multiline comments. However, there are other ways to get around this issue.

**We can use # at the beginning of each line of comment on multiple lines.**

In [ ]:
# We can use # at the beginning of each line of comment on multiple lines.
# We can use # at the beginning of each line of comment on multiple lines.
# We can use # at the beginning of each line of comment on multiple lines.
# We can use # at the beginning of each line of comment on multiple lines.

print('This is an example of a multiple line comment')

# Here, each line is treated as a single comment and all of them are ignored.

We can also use multiline strings (triple quotes) to write multiline comments.

The quotation character can either be **'** or **"**.

In [ ]:
'''
Comments in Python are the lines in the code that are ignored by the compiler during the execution of the program. 
They enhance the readability of the code and help the programmers and others to understand the code very carefully.


print('This is an example of a multiple line comment')

'''

"\nComments in Python are the lines in the code that are ignored by the compiler during the execution of the program. \nThey enhance the readability of the code and help the programmers and others to understand the code very carefully.\n\n\nprint('This is an example of a multiple line comment')\n\n"

### 4. Python Docstrings


Python has a built-in concept called docstrings, which is a great way to associate documentation you've written with Python modules, functions, classes, and methods. A docstring is added as a comment right below the function, module, or object head, and describes what the function, module, or object does. **It is expected to follow these rules:**

* A docstring is either a single line, or a multi-line comment. In the latter case, the first line is a short description, and after the first line an empty line follows.

* Begin the docstring with a capital letter, and end it with a period.

#### This is a basic example of what it looks like:

In [ ]:
def multiply(value1, value2):
    """Calculate the product of value1 and value2."""
    return value1 * value2

In [ ]:
multiply(5, 7)

35

**In the Python interactive help system, the docstring is then made available via the __doc__ attribute.**

In [ ]:
print (multiply.__doc__)

Calculate the product of value1 and value2.

### 5. Python Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code. A block of code refers to a collection of code that is in the same block or indent.

Indentation is a very important concept of Python because without proper indenting the Python code, you will end up seeing ***IndentationError*** and the code will not get compiled.

**Generally, four whitespaces are used for indentation or a tabs. Here is an example.**

#### Example

In [ ]:
#
if 100==100:
  print ("Hundred is equal to hundred")

Hundred is equal to hundred

In [ ]:
for i in range(1,11):
    print(i)

    if i == 5:
        break

### 6. Python Quotations

Python string functions are very popular. There are two ways to represent strings in python. String is enclosed either with single quotes or double quotes. 
Both ways (single or double quotes) are correct depending upon the requirement. Sometimes we have to use quotes (single or double quotes) together in the same string, in such cases, we use single and double quotes alternatively so that they can be distinguished.

**Basic Usage**

The most common use of single and double quotes is to represent strings by enclosing a series of characters. As shown in the code below, we create these two strings using single and double quotes, respectively.

In [ ]:
quotes_single = 'a_string'
quotes_double = "a_string"
quotes_single == quotes_double

True

As you notice, the strings created by using single and double quotes are the same. In other words, we can use single and double quotes interchangeably when we declare a string. However, it should be noted that we don’t want to mix them as it’s a syntactical error.

In [ ]:
"mixed quotes'

SyntaxError: ignored

In [ ]:
'mixed quotes"

SyntaxError: ignored

**Escaping Behaviors**

Like other programming languages, when a string contains special characters like quotes, we need to escape them. An example of failing to escape is shown below.

In [ ]:
'It\'s a bad example'

"It's a bad example"

In [ ]:
'It's a bad example.'

How can we fix this error? One is to escape the single quote by placing a backslash before it. The other is to use double quotes instead of single quotes as the enclosing quotes. Both ways are shown below.

In [ ]:
'It\'s a good example.'

In [ ]:
"It's a good example."

Similarly, if the string contains double quotes, we can use single quotes to represent the string such that we don’t have to escape the double quotes. An example is given below.

In [ ]:
'She said, "Thank you!"'

**NOTE:** Always make use of single quotes when you know your string may contain double quotes within.
    
**NOTE:** Use double quotes to enclose your strings when you know there are going to be single quotes within your string

**However, if there are both single and double quotes in the string, it’s a syntactical error if you don’t escape the quotes that are the same as the enclosing ones used by the entire string.**

In [ ]:
print('She said, "Thank you! It's mine."')

In [ ]:
print('She said, "Thank you! It's mine."')

In [ ]:
print('She said, "Thank you! It\'s mine.')

**Triple Quotes**

**Enclosing Strings Containing Single and Double Quotes**

As mentioned at the end of the above section, we need to escape single or double quotes depending on what enclosing quotes the string uses. Actually, we can use triple quotes (i.e., triplet of single quotes or triplet double quotes) to represent the strings containing both single and double quotes to eliminate the need of escaping any.

In [ ]:
print('''She said, "Thank you! It's mine."''')

It should be noted that when a string starts or ends with a single or double quote and we want to use the triple quotes for the string, we need to use the ones that differ from the starting or ending one. For example, for the string in the above code snippet, using triple double quotes would result in a syntactical error. In this case, we want to use the triple single quotes as above.

In [ ]:
>>> print("""She said, "Thank you! It's mine."""")

### 7. Python Blank Lines

In [ ]:
#using print() for empty lines
 
str = 'latracal Solutions'
s = 'is the best website'
 
print(str)
print()
print(s)

latracal Solutions

is the best website

In [ ]:
print()

In [ ]:
#using print() with single quotes for empty lines
 
str = 'latracal'
s = 'solutions'
 
print(str)
print('')
print(s)

In [ ]:
#using print() with double quotes for empty lines
 
str = 'latracal'
s = 'solutions'
 
print(str)
print("")
print(s)

**2. Using Print() function with a newline character To Print Blank Line In Python**

In this example, we will be using print() with having a newline character in them to print the empty line between the two given lines. The newline character is denoted by n. The newline character can be written in single and double quotes according to your preference. Let us look at the example for a better understanding of the concept:

In [ ]:
#using print() with newline character for empty lines
 
str = 'latracal'
s = 'solutions'
 
print(str,"\n")
print(s)

**5. Printing multiple blank lines**

**A. Using multiplication operator**

In this example, we will be using the print() function with the newline character and '*' operator, who can produce multiple blank lines between the two give lines. The newline character is denoted by \n. Let us look at the example for a better understanding of the concept:

In [ ]:
#using print() with newline character with * for multiple empty lines
 
str = 'latracal'
s = 'solutions'
 
print(str)
print(5 * "\n")
print(s)

**B. Using multiple times newline character to print blank line in Python**

In this example, we will be using the print() function with the newline character multiple times to produce multiple blank lines between the two give lines. The newline character is denoted by n. Let us look at the example for a better understanding of the concept:

In [ ]:
#using print() with newline character writing multiple times to print multiple empty lines
 
str = 'latracal'
s = 'solutions'
 
print(str)
print("\n\n\n\n\n\n")
print(s)

### 7. Python Identifiers and Keywords

#### Python Keywords
The keywords are some predefined and reserved words in python that have special meanings.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

**In Python, keywords are case sensitive.**

There are 35 keywords in Python. This number can vary slightly over the course of time.

**All the keywords except True, False and None are in lowercase and they must be written as they are.**

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**List of key words in Python**

In [ ]:
len(keyword.kwlist)

#### Python Identifiers
An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

#### Rules for writing identifiers

**1.** Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.

**2.** An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.

**3.** Keywords cannot be used as identifiers.

In [ ]:
global = 1

**4.** We cannot use special symbols like !, @, #, $, % etc. in our identifier.

In [ ]:
a@ = 0

**5.**  An identifier can be of any length.

#### Things to Remember in naming Identifiers

Python is a case-sensitive language. This means, **Variable** and **variable** are not the same.

Always give the identifiers a name that makes sense. **while c = 10** is a valid name, **writing count = 10** would make more sense, and it would be easier to figure out what it represents when you look at your code after a long gap.

**Multiple words can be separated using an underscore, like this_is_a_long_variable.**

### 9. Python Variable

Sometimes variable and identifier are often misunderstood as same but they are not. Well for clarity, let’s see what is a variable?

#### What is a Variable in Python?
A variable, as the name indicates is something whose value is changeable over time. In fact a variable is a memory location where a value can be stored. Later we can retrieve the value to use. But for doing it we need to give a nickname to that memory location so that we can refer to it. **That’s identifier, the nickname.**

**A variable is a container for a value.**

**To create a variable, you just assign it a value and then start using it. Assignment is done with a single equals sign (=):**

In [ ]:
fruit1, fruit2, fruit3 = 'apple', 'pineapple', 'orange'

In [ ]:
print(fruit1)
print(fruit2)
print(fruit3)

apple
 pineapple
orange

In [ ]:
fruit1 = 'apple'
fruit2 = ' pineapple'
print (type(fruit1))

<class 'str'>

In [ ]:
fruit= ['apple', 'pineapple', 'orange', 'water melon']
print (fruit)

['apple', 'pineapple', 'orange', 'water melon']

**Variable uses last memory that is, if you Later change the value of *nick* and use it again, the new value will be substituted instead:**

In [ ]:
nick = 35000

In [ ]:
print(nick)

In [ ]:
# note: you can either print or call a variable
nick  #this is calling a variable name

**Note:** **All the rules for writing Identifiers applies to writing a variable**

**Python also allows chained assignment, which makes it possible to assign the same value to several variables simultaneously:**

In [ ]:
arc = bag = cap = 3000
print(arc, bag, cap)

In [ ]:
#chained assignment
x=y=z="Apple"
print (x)
print (y)
print (z)

Apple
Apple
Apple

#### Exercise - Assigning variables
Assign variable for any 3 color of your choice and print them

### 10. Python String Formatters

# Python Data Types

Data types are an essential concept in the python programming language. In Python, every value has its own python data type. 

The classification of data items or to put the data value into some sort of data category is called **Data Types**. It helps to understand what kind of operations can be performed on a value.

Python has the following data types built-in by default, in these categories:

* **Text Type:**	  string (str)
* **Numeric Types:**	 integer (int), float, complex
* **Sequence Types:**	 list, tuple, range
* **Mapping Type:**	  dictionary (dict)
* **Set Types:**	set, frozenset
* **Boolean Type:**	  bool
* **Binary Types:**  bytes, bytearray, memoryview

### Getting the Data Type
You can get the data type of any object by using the type() function:

#### Examples
Print the data type of the following variables:

In [ ]:
x = 509
print(type(x))

<class 'int'>

In [ ]:
y = "I love Python"
print(type(y))

<class 'str'>

### Setting the Data Type
In Python, the data type is set when you assign a value to a variable:

In [ ]:
a = "Hello World"
print(type(a))

In [ ]:
c = 20
print(type(c))

In [ ]:
v = 20.5
print(type(v))

In [ ]:
x = 1j
print(type(x))

In [ ]:

y = ["apple", "banana", "cherry"]
print(type(y))

u = ("apple", "banana", "cherry")
print(type(u),"\n")

i = range(6)
print(type(i),"\n")

o = {"name" : "John", "age" : 36}
print(type(o),"\n")

p = {"apple", "banana", "cherry"}
print(type(p),"\n")

l = frozenset({"apple", "banana", "cherry"})
print(type(l),"\n")

m = True
print(type(m),"\n")

d = b"Hello"
print(type(d),"\n")

w = bytearray(5)
print(type(w),"\n")

e = memoryview(bytes(5))
print(type(e),"\n")

<class 'str'>

<class 'int'>
<class 'float'>

<class 'complex'>

<class 'list'>

<class 'tuple'>

<class 'range'>

<class 'dict'>

<class 'set'>

<class 'frozenset'>

<class 'bool'>

<class 'bytes'>

<class 'bytearray'>

<class 'memoryview'>

In [ ]:
d = b"Hello"
print(type(d),"\n")

<class 'bytes'>

### Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

In [ ]:
x = str("Hello World")
y = int(20)
z = float(20.5)
q = complex(1j)
r = list(("apple", "banana", "cherry"))
s = tuple(("apple", "banana", "cherry"))
t = range(6)
u = dict(name="John", age=36)
v = set(("apple", "banana", "cherry"))
w = frozenset(("apple", "banana", "cherry"))
s = bool(5)
t = bytes(5)
o = bytearray(5)
p = memoryview(bytes(5))

##You can check to confirm the data types of the variables above.

### Python Numbers

Integers, floating point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.

* **Integers/int :**  Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length. It is only limited by the memory available. Eg. "123", "3545646473" etc.

* **float :** Float, or "floating point number" is a number, positive or negative, containing one or more decimals. They can also be scientific numbers with an "e" to indicate the power of 10. Eg. "23.66474", 35e3

* **complex :**  Complex numbers are written with a "j" as the imaginary part: 3+5j

In [ ]:
# Examples:

a = 567
print(a, "is of type", type(a),"\n")

a = 2.067
print(a, "is of type", type(a),"\n")

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

In [ ]:
#Integers:

x = 1
y = 35656222554887711
z = -3255522

print(type(x),"\n")
print(type(y),"\n")
print(type(z),"\n")

In [ ]:
#float

x = 1657.10657
y = 45.08
z = -35e59

print(type(x))
print(type(y))
print(type(z))

In [ ]:
#Complex

x = 5+9j
y = 10-4j
z = -5j

print(type(x))
print(type(y))
print(type(z))

#### Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x = 13847    # int
y = 246.876  # float
z = 19-7j    # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c,"\n")

print(type(a))
print(type(b))
print(type(c))

In [ ]:
z = 19-7j

c =float(z)

In [ ]:
z = 19-7j

c = int(z)

**Note: Complex numbers cannot be converted to float or integers**

### Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

#### Example
Import the random module, and display a random number between 1 and 9:

In [ ]:
import random

print(random.randrange(1, 10))

In [ ]:
print(random.randrange(1, 10))

In [ ]:
print(random.randrange(1, 10))

# Python Casting

Type Casting is the method to convert a certain variable data type into a different data type in order to match the operation required to be performed by the user. 

Casting in python is therefore done using constructor functions like int(), string(), float(), etc.

**There can be two types of Type Casting in Python:**

* Implicit Type Casting
* Explicit Type Casting

### Implicit Type Casting:

Implicit type conversion is performed automatically by the interpreter, without user intervention. Python automatically converts one data type to another data type. 

This process doesn’t need any user involvement. Python promotes the conversion of lower data type, for example, integer to higher data type says float to avoid data loss. This type of conversion or type casting is called UpCasting.

In [ ]:
# Python program to demonstrate
# implicit type Casting

# Python automatically converts
# a to int
a = 7
print(type(a))

# Python automatically converts
# b to float
b = 3.0
print(type(b))

# Python automatically converts
# c to float as it is a float addition
c = a + b
print(c)
print(type(c))

# Python automatically converts
# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

#### Explicit Type Casting

In Explicit Type conversion, the user or programmer converts the data type of an object to the required data type. 

In Python we use predefined functions like int(), float(), str(), bool() etc to perform explicit type conversion.

#### Mainly in type casting can be done with these data type function:

* **Int() :** Int() function take float or string as an argument and return int type object.
* **float() :** float() function take int or string as an argument and return float type object.
* **str() :** str() function take float or int as an argument and return string type object.

#### Type Casting int to float:

**Here, we are casting integer object to float object with float() function.**

In [ ]:
# Python program to demonstrate
# type Casting

# int variable
a = 5

# typecast to float
n = float(a)

print(n)
print(type(n))

#### Type Casting float to int:

**Here, we are casting float data type into integer data type with int() function.**

In [ ]:
# Python program to demonstrate
# type Casting

# int variable
a = 5.9

# typecast to int
n = int(a)

print(n)
print(type(n))

**Type casting int to string:**

**Here, we are casting int data type into string data type with str() function.**`

In [ ]:
# Python program to demonstrate
# type Casting

# int variable
a = 5

# typecast to str
n = str(a)

print(n)
print(type(n))

#### Type Casting string to int:

**Here, we are casting string data type into integer data type with int() function.**

In [ ]:
# Python program to demonstrate
# type Casting

# string variable
a = "5"

# typecast to int
n = int(a)

print(n)
print(type(n))

**Type Casting String to float:**

**Here, we are casting string data type into float data type with float() function.**

In [ ]:
# Python program to demonstrate
# type Casting

# string variable
a = "5.9"

# typecast to float
n = float(a)

print(n)
print(type(n))

**Type Casting Boolean value to an integer**

**Here, we are casting Boolean data type into integer data type with bool() function.**

In [ ]:
flag_true = True
flag_false = False
print(type(flag_true),"\n")

# converting boolean to integer
num1 = int(flag_true)
num2 = int(flag_false)

print("Integer number 1:", num1)  
print(type(num1),"\n")  

print("Integer number 2:", num2)
print(type(num2))

### Exercise - Python Data Types / Casting

1. Convert onvert 20 to float
2. Convert 20.5 to integer
3. Convert boolean True to int
4. Convert string True to boolean

# Python Strings

# Python Strings

### What is String in Python?

Python string is the collection of the characters surrounded by single quotes, double quotes, or triple quotes.
**In Python, anything inside quotes is a string.**

A character is simply a symbol. For example, the English language has 26 characters.

Computers do not understand characters, they only understand with binary numbers. Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0s and 1s.

The conversion of characters to numbers is known as encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encodings used.

In Python, a string is a sequence of Unicode characters. Unicode was introduced to include every character in all languages and bring uniformity in encoding.

In [ ]:
# 'hello' is the same as "hello".

#You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

Strings in python are surrounded by either single quotation marks, or double quotation marks. 
'hello' is the same as "hello".

# Storing Values in Variables

A variable is like a box in the computer's memory where you can store a single value. If you want to use the result of an evaluated expression later in your programme, you can save it as a variable.

Assignment statements: You will store values in variables with an assignmant statement.

An assignment statement consists of a variable name, an equal sign (called the assignment operator) and the value to be stored. If you enter the assignment statement, spam = 40, then a variable named "spam" will have the integer value 42 stored in it.

In [ ]:
orange = 40
orange

40

In [ ]:
eggs = 2
orange + eggs

42

In [ ]:
orange = orange + 2
orange

42

In [ ]:
orange = 'Hello' # This is called overwriting the variable

orange

'Hello'

In [ ]:
orange = 'Goodbye'

orange

'Goodbye'

In [ ]:
orange + ' world'

'Goodbye world'

# Multiline Strings

You can assign a multiline string to a variable by using three quotes:

#### Example
You can use three double quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

#### Example

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### String Length
To get the length of a string, use the len() function.

In [ ]:
a = "Hello, World!"
print(len(a))

13

### Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

Example
Get the characters from position 2 to position 5 (not included):

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

**Note: The first character has index 0.**

#### Slice From the Start
By leaving out the start index, the range will start at the first character:

**Example**

Get the characters from the start to position 5 (not included):

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

#### Slice To the End
By leaving out the end index, the range will go to the end:

**Example**

Get the characters from position 2, and all the way to the end:

In [ ]:
b = "Hello, World!"
print(b[7:])

World!

#### Negative Indexing

Use negative indexes to start the slice from the end of the string:

**Example**

In [ ]:
## Get the characters:

## From: "o" in "World!" (position -5)

## To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-6:-1])

World

In [ ]:
print ('Hello') #Print 'Hello' using negative indexing

Hello
llo,

In [ ]:
print(b[-13:-8])
print(b[-8:])

Hello
, World!

#### How to change or delete a string?

Strings are immutable. This means that elements of a string cannot be changed once they have been assigned. We can simply reassign different strings to the same name.

In [ ]:
my_string = 'programiz'
my_string[5] = 'b'

TypeError: ignored

In [ ]:
my_string = 'Python'
my_string

'Python'

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the (del) keyword.

In [ ]:
del my_string[1]

TypeError: ignored

In [ ]:
del my_string
my_string

NameError: ignored

### Python String Operations

There are many operations that can be performed with strings which makes it one of the most used data types in Python.

To learn more about the data types available in Python visit: Python Data Types

### Concatenation and Replication of Two or More Strings

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

**we cannot concatenate strings and numbers**

The * operator can be used to repeat the string for a given number of times.

**the * operator can be used with only two numeric values for multiplication or one string value and one integer value 
(for string replication) otherwise, Python will just display an error message.**

In [ ]:
'Precious' + ' ' + 'Sam'

'Precious Sam'

In [ ]:
'Precious' + ' Sam'

'Precious Sam'

In [ ]:
"Dooshima" * 5

'DooshimaDooshimaDooshimaDooshimaDooshima'

In [ ]:
"Dooshima " * 5

'Dooshima Dooshima Dooshima Dooshima Dooshima '

In [ ]:
# Python String Operations
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

Writing two string literals together also concatenates them like + operator.

If we want to concatenate strings in different lines, we can use parentheses.

In [ ]:
# two string literals together
'Hello ''World!'

'Hello World!'

In [ ]:
# using parentheses
s = ('Hello '
      'World')
s

'Hello World'

### Iterating Through a string

We can iterate through a string using a for loop. Here is an example to count the number of 'l's in a string.

In [ ]:
## Example
## Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

### String Membership Test

In [ ]:
# We can test if a substring exists within a string or not, using the keyword in.

'progm' in 'program' #pro is a substring

False

In [ ]:
'z' not in 'battle'

True

In [ ]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
#Use it in an if statement:

#Example
#Print only if "free" is present:

txt = "The best things in life are free!"
if "freedom" in txt:
  print("Yes, 'free' is present.")

In [ ]:
# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

### Modify Strings
Python has a set of built-in methods that you can use on strings.

#### Upper Case

**Example**:
The upper() method returns the string in upper case:

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

#### Lower Case
**Example**: The lower() method returns the string in lower case:

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

#### Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

**Example**:
The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = "    Hello, World!                     "
print(a.strip()) # returns "Hello, World!"

Hello, World!

#### Replace String
**Example**:
The replace() method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

#### Split String
The split() method returns a list where the text between the specified separator becomes the list items.

**Example**:
The split() method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.split(" ")) # returns ['Hello', ' World!']

['Hello,', 'World!']

### String Format
As we learned in the Concatenation and Replication of Two or More Strings, we cannot combine strings and numbers like this:

**Example**

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

Example
Use the format() method to insert numbers into strings:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
age = 36
txt = "My name is John, and I am" + " " + str(age)
print (txt)

My name is John, and I am 36

In [ ]:
## The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

## Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
## You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

## Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
#String formatting
age = 60
year = 2000
txt = "I can vote in year {}, My name is Mary, and I am {}"
print (txt.format(age, year))

I can vote in year 60, My name is Mary, and I am 2000

How to Check whether certain character or phrase is present in a string or not?

In [ ]:
txt = "The best things in life are so not free!" 
print("" in txt) #Is there 'free' in txt?

False

In [ ]:
txt = "The best things in life are so not free!" 
print("expensive" not in txt) #Is expensive in the txt?

True

### String Methods
Python has a set of built-in methods that you can use on strings.

**Note: All string methods returns new values. They do not change the original string.**

There are numerous methods available with the string object. The **format()** method that we mentioned above is one of them. Some of the commonly used methods are **lower()**, **upper()**, **join()**, **split()**, **find()**, **replace()** etc.

https://www.programiz.com/python-programming/methods/string Here is a complete list of all the built-in methods to work with strings in Python.

### String indexing
Strings are Arrays. Square brackets can be used to access elements of the string

In [ ]:
a = "Hello, World!" 
print(a[6])

Slicing strings

Specify the start index and end index (not inclusive) - like the character counts

### Exercise - Strings
1. Print **World** from **Hello, World!**
2. Write a Python script that takes input from the user and displays that input back in upper and lower cases. (Tip: use the function **input()** to get user input)

![image.png](https://www.w3resource.com/w3r_images/python-data-type-string-image-exercise-13.png)

3. Write a Python code to insert a string in the middle of a 4 character string.

Input: 4 Character string **Mary**. (String to insert **Python**)

Output: MaPythonry

4.  Write a Python code that takes a user input string and inserts it in the middle of an even-character user input string.

Input: Even Character string **Maryleen**. (String to insert **Python**)

Output: MaryPythonleen

In [ ]:
#print (5%2) #2 remainder 1
#print (564%2) #2 remainder 1
print (9 // 2) #4 remainder 1

4

In [ ]:
#Get user input of two strings
#Check if it's an even character string, else user request
#Get the length of the string
#Divide into two equal substrings
#Insert the string in the middle
def insert_string ():
  print ('Enter an even character string')
  even_string = input()
  print ('Enter a string to be inserted in the middle')
  mid_string = input()
  if (len(even_string) % 2) != 0:
    print ('The number is not an even character string')
  else:
    mid_index = len(even_string) // 2
    print (mid_index)
    new_string = even_string [:mid_index] + mid_string + even_string[mid_index:]
    return new_string


insert_string()

Enter an even character string
Maryleeno
Enter a string to be inserted in the middle
Python
The number is not an even character string

UnboundLocalError: ignored

In [ ]:
insert_string()

Enter an even character string

KeyboardInterrupt: ignored

user_input = input("What's your favourite programming language?")

Input: "Python"

PYTHON #Uppercase

python #Lowercase

In [ ]:
print ("What's your favourite programming language?")
user_word = input()
print (user_word.lower())
print (user_word.upper())

What's your favourite programming language?
java
java
JAVA

In [ ]:
word ="Mary"
word2 = "Python"
print (word[:2] + word2 + word[2:])
#MaryPythonleen

MaPythonry